body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    position: relative;
}

.back-button {
    position: fixed;
    top: 3rem;
    left: 3rem;
    font-size: 1.2em;
    width: 6.4rem;
    height: 2.6rem;
    text-decoration: none;
    color: #ffffff; /* Testo bianco */
    background-color: rgb(82, 82, 82, 0.6);
    padding: 0.5rem;
    border-radius: 5rem;
    text-align: right;
    padding-right: 1rem;
    pointer-events: auto;
    z-index: 1000;
}

.back-button:hover {
    background-color: #5e5e5e;
    box-shadow: 0 0 3px #ffffff;
}

.back-arrow {
    position: absolute;
    bottom: 0.4rem;
    font-size: 1.3rem;
    left: 0.8rem;
    transition: left 0.3s ease; 
}

.back-button:hover .back-arrow {
    left: 0.6rem;
    
}


.hero-section {
    background: url('../img/expleo_bg.jpg') no-repeat center center;
    background-size: cover;
    height: 25rem; /* 400px */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Testo bianco */
    text-align: center;
    position: relative;
}

.hero-section h1 {
    color: #ffffff;
    font-size: 3rem; /* 3em */
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5); /* 2px 2px 4px */
    margin: 0;
}

.navbar-vertical {
    position: fixed;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.navbar-vertical li {
    margin: 0.625rem 0; /* 10px 0 */
    color: #6e6e6e; /* Testo bianco */
}

.navbar-vertical a {
    text-decoration: none;
    transition: color 0.3s;
    color: #333; /* Testo bianco */
}

.navbar-vertical a.active {
    color: #ffffff;
}

.content-section {
    padding: 3.125rem 0; /* 50px 0 */
}

.content-section img {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem; /* 10px */
}

.content-section h2 {
    margin-top: 1.25rem; /* 20px */
    font-size: 2.5rem; /* 2.5em */
    color: #ffffff; /* Testo bianco */
}

.content-section p {
    font-size: 1.2rem; /* 1.2em */
    line-height: 1.6;
    color: #ffffff; /* Testo bianco */
}

/* footer */

.footer {
    padding: 1.25rem 0; /* 20px 0 */
}

.footer h3 {
    margin-top: 0;
    color: #ffffff;
}

.footer p,
.footer ul {
    color: #ffffff;
    margin-bottom: 0;
}
